# ==================================================
# PYTHON
# ==================================================

__pycache__/
*.py[cod]
*$py.class

# ==================================================
# VIRTUAL ENVS
# ==================================================

venv/
.venv/
env/
ENV/

# ==================================================
# VS CODE / IDEs
# ==================================================

.vscode/
.idea/

# ==================================================
# OPERATING SYSTEM
# ==================================================

.DS_Store
Thumbs.db
desktop.ini

# ==================================================
# DATASETS GERADOS
# ==================================================

Tools/datasets/
Tools/serial_logger/datasets/

# ==================================================
# ARQUIVOS GERADOS PELO PIPELINE
# ==================================================


# ==================================================
# LOGS
# ==================================================

*.log

# ==================================================
# BUILD ESP-IDF
# ==================================================

AP_controller/build/
STA_CSI_receiver/build/

# ==================================================
# ESP-IDF CACHE
# ==================================================

AP_controller/sdkconfig.old
STA_CSI_receiver/sdkconfig.old

# ==================================================
# CONFIGURAÇÕES LOCAIS
# ==================================================

AP_controller/.vscode/
STA_CSI_receiver/.vscode/

# ==================================================
# SERIAL LOGGER
# ==================================================

Tools/serial_logger/serial_logger_parsed.py
Tools/serial_logger/serial_logger_parsed_debug.py